.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.flutter-plugins-dependencies

.idea/
assets/secrets.yml

ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner/GoogleService-Info.plist